<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Héroes Históritcos</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header id="header">
        <div class="container__header">
            <div class="logo">
                <p>HÉROES</p>
            </div>
            <div class="container__nav">

                <nav id="nav">
                    <ul>
                        <li><a href="#" class="select">INICIO</a></li>
                        <li><a href="#" class="select-2">MATEMÁTICOS</a></li>
                        <li><a href="#" class="select-2">CIENTÍFICOS</a></li>
                        <li><a href="#" class="select-2">TODOS LOS HÉROES</a></li>
                    </ul>
                </nav>

                <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>

            </div>

        </div>
    </header>
    <section>
        <article class="heroes">
            <div class="dh">
                <img src="/img/berners-lee.jpg" alt="foto de berners-lee">
            </div>
            <div class="dh">
                <h1>Tim Berners-Lee</h1>
                <p>(Londres, 1995). Científico de la computación británico. Habilitó un sistema para poder ver páginas web o documentos de hipertexto por medio de Internet. También se desempeña como director del World Wide Web Consorcio (W3C), que supervisa los estándares para Internet y la World Wide Web. Tim Berners-Lee también se preocupa por cuestiones relacionadas con la libertad de información y la censura que se da en Internet.</p>
                <p>Desarrolló lo que por sus siglas en inglés se denomina: HTML o Lenguaje de Etiquetas de Hipertexto; el protocolo HTTP (HyperText Transfer Protocol), y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
                <p>Es importante porque fue la primera persona que logró establecer la comunicación entre un servidor y un cliente utilizando el protocolo HTTP, supervisó y estandarizó el desarrollo de las tecnologías necesarias sobre las cuales se encuentra fundada la Web y además que permiten el adecuado funcionamiento del internet, además de la creación del lenguaje HTML.</p>
            </div>
        </article>
    </section>
</body>
</html>