<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografias</title>
</head>
<body>
    <h1>Edith Clarke</h1>
    <h5>Ingeniera</h5>
    <p> Edith Clarke fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin.​​ Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.​​ </p>
    <img src="../public/img/clarke.jpg" alt="Clarke">

    <a href="/">Volver al inicio</a>


</body>
</html>