<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografias</title>
</head>
<body>
    <h1>Margaret Hamilton </h1>
    <h5>Matematica</h5>
    <p> Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo </p>
    <img src="../public/img/hamilton.jpg" alt="Hamilton">

    <a href="/">Volver al inicio</a>


</body>
</html>