<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografias</title>
</head>
<body>
    <h1>Grace Murray Hopper </h1>
    <p> Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. </p>
    <img src="../public/img/hopper.jpg" alt="Hopper">

    <a href="/">Volver al inicio</a>

</body>
</html>