<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards animadas</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header id="header">
        <div class="container__header">
            <div class="logo">
                <p>HÉROES</p>
            </div>
            <div class="container__nav">

                <nav id="nav">
                    <ul>
                        <li><a href="#" class="select">INICIO</a></li>
                        <li><a href="#">MATEMÁTICOS</a></li>
                        <li><a href="#">CIENTÍFICOS</a></li>
                        <li><a href="#">TODOS LOS HÉROES</a></li>
                    </ul>
                </nav>

                <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>

            </div>

        </div>
    </header>

    <main class="body__page">

        <section class="container__card">

            <article class="card c1">

                <div class="icon">
                    <img src="/img/Charles-Babbage/Charles Babbage 1.jpg" alt="Imagen de Charles Babbage">
                </div>

                <div class="info__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quisquam officiis natus
                        similique expedita a corporis aperiam sapiente veritatis quod ipsa impedit eum ullam, magni
                        porro? Enim dolore minus recusandae, soluta fugit alias earum vero autem dolorum neque omnis
                        excepturi sint, porro quasi totam. Cum illo aut iure debitis labore.</p>
                    <input type="button" value="Leer mas">
                </div>

            </article>

            <article class="card c2">

                <div class="icon">
                    <img src="/img/Tim-Berners-Lee/tim-berners-lee.jpg" alt="Imagen de Berners Lee">
                </div>

                <div class="info__description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, quam. Numquam rem velit eaque,
                        aperiam a ratione maxime ad ab porro. Quia asperiores placeat eius quasi incidunt laudantium
                        impedit, perferendis cupiditate est explicabo culpa vitae aliquam error veritatis delectus ut
                        beatae. Ab esse eligendi accusamus saepe tempora totam, fuga nemo.</p>
                    <input type="button" value="Leer mas">
                </div>

            </article>

            <article class="card c3">

                <div class="icon">
                    <img src="/img/Joan-Clarke/joanc1.jpg" alt="Imagen de Joan Clarke">
                </div>

                <div class="info__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis non eius. Assumenda
                        nihil illum doloremque culpa, vel reprehenderit facilis eum nesciunt cupiditate id! Cum
                        molestias adipisci ad iure facere nemo maiores quae consequatur modi minus doloribus amet
                        doloremque obcaecati ea rem est neque, labore deserunt culpa numquam praesentium. Nihil.</p>
                    <input type="button" value="Leer mas">
                </div>

            </article>

            <article class="card c4">

                <div class="icon">
                    <img src="/img/Margaret hamilton/Margaret_Hamilton_1995.jpg" alt="Imagen de Margaret Hamilton">
                </div>

                <div class="info__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis non eius. Assumenda
                        nihil illum doloremque culpa, vel reprehenderit facilis eum nesciunt cupiditate id! Cum
                        molestias adipisci ad iure facere nemo maiores quae consequatur modi minus doloribus amet
                        doloremque obcaecati ea rem est neque, labore deserunt culpa numquam praesentium. Nihil.</p>
                    <input type="button" value="Leer mas">
                </div>

            </article>

            <article class="card c5">

                <div class="icon">
                    <img src="/img/Grace-Hopper/Grace-hopper.jpg" alt="Imagen de Grace Hopper">
                </div>

                <div class="info__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis non eius. Assumenda
                        nihil illum doloremque culpa, vel reprehenderit facilis eum nesciunt cupiditate id! Cum
                        molestias adipisci ad iure facere nemo maiores quae consequatur modi minus doloribus amet
                        doloremque obcaecati ea rem est neque, labore deserunt culpa numquam praesentium. Nihil.</p>
                    <input type="button" value="Leer mas">
                </div>

            </article>

            <article class="card c6">

                <div class="icon">
                    <img src="/img/Margaret hamilton/Margaret_Hamilton_1995.jpg" alt="Imagen de Ada Lovelace">
                </div>

                <div class="info__description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis non eius. Assumenda
                        nihil illum doloremque culpa, vel reprehenderit facilis eum nesciunt cupiditate id! Cum
                        molestias adipisci ad iure facere nemo maiores quae consequatur modi minus doloribus amet
                        doloremque obcaecati ea rem est neque, labore deserunt culpa numquam praesentium. Nihil.</p>
                    <input type="button" value="Leer mas">
                </div>

            </article>

        </section>

    </main>

    <script src="js/script.js"></script>
</body>

</html>