<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Héroes Históritcos</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header id="header">
        <div class="container__header">
            <div class="logo">
                <p>HÉROES</p>
            </div>
            <div class="container__nav">

                <nav id="nav">
                    <ul>
                        <li><a href="#" class="select">INICIO</a></li>
                        <li><a href="#" class="select-2">MATEMÁTICOS</a></li>
                        <li><a href="#" class="select-2">CIENTÍFICOS</a></li>
                        <li><a href="#" class="select-2">TODOS LOS HÉROES</a></li>
                    </ul>
                </nav>

                <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>

            </div>

        </div>
    </header>

    <main class="body__page">

        <section class="container__card">

            <article class="card c1">

                <div class="photo">
                    <img src="/img/Charles-Babbage/Charles Babbage 1.jpg" alt="Imagen de Charles Babbage">
                </div>

                <div class="info__description">
                    <h4>Charles Babbage</h4>
                    <p>Fue un matemático y científico de la computación británico.​Diseñó y desarrolló
                        una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de
                        diferencias.</p>
                    <a href="babbage"><input type="button" value="Leer mas"></a>
                </div>

            </article>

            <article class="card c2">

                <div class="photo">
                    <img src="/img/Tim-Berners-Lee/tim-berners-lee.jpg" alt="Imagen de Berners Lee">
                </div>

                <div class="info__description">
                    <h4>Tim Berners-Lee</h4>
                    <p>Es un científico de la computación británico, conocido por ser el
                        padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor
                        usando el protocolo HTTP.</p>
                        <a href="berners-lee"><input type="button" value="Leer mas"></a>
                </div>

            </article>

            <article class="card c3">

                <div class="photo">
                    <img src="/img/Joan-Clarke/joanc1.jpg" alt="Imagen de Joan Clarke">
                </div>

                <div class="info__description">
                    <h4>Joan Clarke</h4>
                    <p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y
                        numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.</p>
                        <a href="clarke"><input type="button" value="Leer mas"></a>
                </div>

            </article>

            <article class="card c4">

                <div class="photo">
                    <img src="/img/Margaret hamilton/Margaret_Hamilton_1995.jpg" alt="Imagen de Margaret Hamilton">
                </div>

                <div class="info__description">
                    <h4>Margaret Hamilton</h4>
                    <p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software
                        estadounidense. Fue directora de la División de Ingeniería de Software del Laboratorio de
                        Instrumentación del MIT, donde con su equipo desarrolló el software de navegación "on-board"
                        para el Programa Espacial Apolo.</p>
                    <a href="hamilton"><input type="button" value="Leer mas"></a>
                </div>

            </article>

            <article class="card c5">

                <div class="photo">
                    <img src="/img/Grace-Hopper/Grace-hopper.jpg" alt="Imagen de Grace Hopper">
                </div>

                <div class="info__description">
                    <h4>Grace Hopper</h4>
                    <p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de
                        contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera
                        programadora que utilizó el Mark I.</p>
                    <a href="hopper"><input type="button" value="Leer mas"></a>
                </div>

            </article>

            <article class="card c6">

                <div class="photo">
                    <img src="/img/Ada-Lovelace/lovelace.jpg" alt="Imagen de Ada Lovelace">
                </div>

                <div class="info__description">
                    <h4>Ada Lovelace</h4>
                    <p>Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida
                        habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo
                        por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la
                        denominada máquina analítica.</p>
                    <a href="lovelace"><input type="button" value="Leer mas"></a>
                </div>

            </article>

            <article class="card c7">

                <div class="photo">
                    <img src="img/Alan-Turing/Turing.jpg" alt="Imagen de Ada Lovelace">
                </div>

                <div class="info__description">
                    <h4>Alan Turing</h4>
                    <p>Alan Mathison Turing fue un matemático, lógico, informático teórico, criptógrafo, filósofo y
                        biólogo teórico británico.​​​​​Está considerado uno de los padres de la ciencia de la
                        computación y precursor de la informática moderna.</p>
                    <a href="turing"><input type="button" value="Leer mas"></a>
                </div>

            </article>

        </section>

    </main>

    <script src="js/scripts.js"></script>
</body>

</html>