@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;  /* Sin márgen inicial */
    padding: 0; /* Sin relleno inicial */
    box-sizing: border-box; /* Para poder hacer un padding perfecto */
    text-decoration: none;  /* Sin decoraciones a las fuentes */
}

body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

/* 
main{
    height: 1000px;
} */
