.container__card{
  max-width: 1200px;  /* Definido el ancho del contenedor de las tarjetas */
  padding: 20px;  /* Relleno del contenedor para que no esté todo muy comprimido */
  padding-bottom: 40px;   /* Para que se despeguen las cards del footer */
  margin: auto;   /* Se mantiene centrado automáticamente */
  margin-top: 80px;  /* Para que se despegue del header */
  display: flex;
  flex-wrap: wrap;    /* Para envolver o agrupar según corresponda */
  justify-content: center;    /* Elementos centrados con respecto al eje X */
}

.card{
  width: 300px;   /* Ancho de la tarjeta */
  position: relative; /* Posición relativa con respecto a su padre */
  margin: 20px;   /* Para que las tarjetas mantengan un márgen entre si */
  font-family: sans-serif;
  transition: all 300ms;
}

.card:hover{
  box-shadow: 1px 1px 20px -10px #02020249;   /* Da una sombra suave al pasar el mouse por encima */
}

.card:hover .info__description{
  margin-top: 0;  /* Restaura el márgen de info description de -220 a 0 */
  border-radius: 0px 0px 20px 20px;   /* Redondea los bordes inferiores del contenedor de la descripción */
}

.photo{
  width: 100%;    /* Para que ocupe el 100% del ancho de su padre */
  height: 220px;
  background: #EFF3F5;
  display: flex;
  justify-content: center;    /* Centrado con respecto al exe X */
  align-items: center;    /* Centrado con respecto al eje Y */
  position: relative; /* Posición relativa con respecto a su padre para poder uzar z-index */
  z-index: 1; /* El valor 1 coloca por encima del texto con valor 0 por defecto para dar el efecto de ocultamiento  */
  border-radius: 20px 20px 20px 20px;
}

.photo img{
  height: 220px;   /* Tamaño de la imágen */
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  transition: border-radius 900ms;  /* Para que el borde no se active de manera brusca */
}

.photo img:hover{
  border-radius: 20px 20px 0px 0px;
}

.info__description{
  width: 100%;    /* Para que ocupe el 100% del ancho de su padre */
  height: 220px;  /* La altura de la descripción debe coincidir con la altura de la imágen para generar el efecto de ocultar */
  color: #474747; /* Color del texto */
  background: white;    /* Fondo del texto */
  padding: 20px;  /* Para tener un relleno en el márgen */
  *margin-top: -220px; /* Esto es para subir el texto a la altura de la alturda de la imagen [*margin-top: -220px; con * para trabajar antes de que funcione ese estilo]*/
  transition: all 400ms cubic-bezier(0.5,0,0,1); /* Para suavizar la animación de despliegue */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__description p{
  font-size: 14px;    /* Tamaño del párrafo */
  margin-top: 10px;   /* Para mantener un margen con respecto al contenedor de arriba */
  display: box;   /* se comportará como si fuese un display:block pero serán sus elementos hijos los afectados. */
  display: -webkit-box;   /* Para compatibilidad con navegadores */
  display: -moz-box;  /* Compatible para mozilla */
  box-orient: vertical;   /* Esta propiedad indíca en que eje se van a repartir las cajas flexibles hijas de este contenedor. */
  -webkit-box-orient: vertical;   /* si indicamos "box-orient:vertical" lo harán en el "Y". */
  -moz-box-orient: vertical;  /* si indicamos "box-orient:vertical" lo harán en el "Y". */
  line-clamp: 5;  /* Para recortar la línea de texto en un valor */
  -webkit-line-clamp: 5;  /* Para compatibilidad con otros navegadores */
  overflow: hidden;   /* Para ocultar el excedente del texto recortado */
}

.info__description input{
  width: 100px;
  margin-top: 20px;   /* Para que se despegue un poco del párrafo */
  padding: 10px 20px; /* Relleno de arriba abajo 10 y relleno de izquierda a derecha 20 */
  background: #2196f3;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;    /* Para cambiar el puntero al pasar el cursor */
  border: none;   /* Sin borde del botón */
  border-radius: 20px;    /* Radio del botón */
  box-shadow: 1px 1px 30px -5px #20202049;    /* Sombra del botón 1px , 1 px de desvanecimiento 30px y -5px de grosor el 49 al final del negro es la opacidad*/
  transition: box-shadow 100ms;
}
.info__description input:hover{
  box-shadow: 1px 1px 30px -5px #20202070;
}